body {
    font-family: Arial, sans-serif;
    background-color:rgb(196, 191, 191);
}

header {
    background-color: #000;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
   
}

.navigation {
    display: flex;
    justify-content:start;
    padding-left:14px;
}

.navigation a {
    margin: 0 15px;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}
.navigation a:hover {
    color:aqua;
}
.art-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    width: 100%;
    justify-items: center;
}

.art{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 100%;
    max-width: 300px;
}
.art:hover {
    transform: scale(1.05);
}
.art-img-top {
    width: 100%;
    height: auto;
}
.art-body {
    padding: 15px;
    text-align:left;
}
.art-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}
.art-artist,
.art-price,
.art-type,
.art-description {
    margin: 5px 0;
}
.button {
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.button button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
    cursor: pointer;
    border-radius: 7px;
}

.button button:hover {
    background-color: #202020;
}
